name: Build android example

on:
  workflow_call:
    inputs:
      # (optional) you can specify which version of Flutter will be used, defaults is the latest release from stable channel
      FLUTTER_VERSION:
        required: false
        type: string

jobs:
  build_android_example:
    runs-on: ubuntu-latest

    steps:
      # Setup Java environment in order to build the Android app.
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"

      - name: Install Flutter with exact version
        if: ${{ inputs.FLUTTER_VERSION != ''}}
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ inputs.FLUTTER_VERSION }}

      - name: Install Flutter from stable branch
        if: ${{ inputs.FLUTTER_VERSION == ''}}
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"

      - name: Install dependencies
        run: flutter pub get

      - name: Build Android
        run: |
          cd example
          flutter pub get
          flutter build apk
